@keyframes blink-char {
  0% {
    background: #333;
    color: white;
  }

  50% {
    background: rgba(0, 0, 0, 0);
    color: #333;
  }
}

@keyframes blink-space {
  0% {
    background: #333;
    color: white;
  }

  50% {
    background: rgba(0, 0, 0, 0);
    color: #ccc;
  }
}

#root {
  width: 800px;
  margin: auto;
  padding-top: 96px;
}

#typing-data {
  display: flex;
  margin-bottom: 32px;
}

.stat-col {
  width: 128px;
  margin-right: 32px;
}

.stat-item {
  display: flex;
  justify-content: space-between;
  margin-right: 48px;
  margin-bottom: 16px;
  width: 108px;
}

.label {
  font-family: Helvetica;
  font-size: 14px;
  color: #aaa;
  margin: 0px;
  margin-top: auto;
}

.value {
  font-family: Helvetica;
  font-size: 24px;
  color: #333;
  margin: 0px;

  &.small {
    font-size: 14px;
  }
}

.word {
  font-family: Helvetica;
  font-size: 32px;
  margin: 0px;
  float: left;
  line-height: 1.5em;
}

.char {
  &.active {
    animation: blink-char .75s infinite step-end;
  }

  &.space {
    color: #ccc;
  }

  &.space.active {
    animation: blink-space .75s infinite step-end;
  }

  &.typed {
    color: #ccc;
  }

  &.error {
    color: #c0392b;
  }
}
